body {
	position: relative;
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background: white;
	color: black;
}

a {
	color: #aaa;
}

article {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 400px;
}

section {
	margin: 0;
	padding: 0;
}

#splash {
	font-weight: bold;
	display: block;
	cursor: pointer;
}

#splash h1 {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	opacity: 0.2;
	text-decoration: none;
	font-size: 200px;

	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#splash h1:hover {
	opacity: 1.0;

	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);

	z-index: 1000;
}

