body {
	position: relative;
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;

	background: black;
	color: white;
}

a {
	color: #aaa;
}

article {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 600px;
}

section {
	margin: 0;
	padding: 0;
	display: none;
	cursor: pointer;
}

#splash {
	display: block;
}

#splash h1 {
	position: relative;
	display: inline-block;
	padding: 0;
	opacity: 0.2;
	text-decoration: none;
	font-size: 200px;

	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#splash h1:hover {
	opacity: 1.0;

	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	transform: rotate(5deg);

	z-index: 1000;
}

